@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        -webkit-tap-highlight-color: transparent;
    }

    body {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}

@layer utilities {

    /* Safe area padding untuk PWA */
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom, 0px);
    }
}